.formcontacto{
  padding: 1.5rem;
  background-color: #EAF2FD;
}

.formcontacto__img{
  display: none;
}

.formcontacto__title{
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.formcontacto__subtext{
  font-weight: 500;
  font-size: 1.3rem;
  text-align: justify;
}

.formcontacto__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontacto__input, .formcontacto__textarea{
  width: 95%;
  margin-top: 1.3rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 300;
  color: #464646;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.formcontacto__input:focus, .formcontacto__textarea:focus{
  outline: none;
  box-shadow: 0 2px 2px #2A7AE4;
}

.formcontacto__textarea{
  resize: none;
}

.formcontacto__boton{
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #2A7AE4;
  border: 2px solid #2A7AE4;
  align-self: flex-start;
}