.footer{
  background-color: #fff;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.footer__rodape{
  text-align: center;
  font-size: 1.3;
  font-weight: 500;
}

.footer__rodape p{
  margin-bottom: -10px;
}

