.title__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.title__img{
  padding: 2rem 0;
  border-radius: 100%;
  width: 10rem;
}

.title__container{
  text-align: center;
}

.title__bio{
  font-size: 1.5rem;
  font-weight: 700;
}

.title__subsection{
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1.5rem;
  text-align: left;
}

.title__network{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.title__network__item a{
  text-decoration: none;
}

.title__network__item img{
  width: 0.7rem;
}

@media screen and (min-width: 768px) {
  .title__div{
    flex-direction: initial;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.8rem 2rem 2rem 2rem;
  }

  .title__img{
    width: 11rem;
    padding: 0;
  }

  .title__container{
    margin-right: 5rem;
    text-align: left;
  }

  .title__subsection{
    padding: 0;
    padding-top: 0.8rem;
  }

  .title__network{
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 1rem;
  }

  .title__network__item img{
    width: 0.9rem;
  }
}

@media screen and (min-width: 1064px) {
  .title__div{
    justify-content: center;
    padding: 2rem 5rem;
  }

  .title__img{
    width: 15rem;
    padding: 0;
  }

  .title__bio{
    font-size: 2rem;
  }

  .title__subsection{
    font-size: 1.5rem;
  }

  .title__network{
    justify-content: right;
  }

  .title__network__item {
    padding-left: 1.5rem;
  }

  .title__network__item a:active {
    opacity: 0.5;
  }

}

@media (hover: hover) {
  .title__network__item a:hover {
    text-decoration: underline;
  }
}