.menu{
  padding: 1.5rem;
}

.menu__header{
  width: 100%;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

.menu__list{
  display: none;
}

.menu__email{
text-decoration: none;
font-weight: 300;
}

@media screen and (min-width: 768px) {
  .menu{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1064px) {
  .menu{
  padding-left: 2rem;
  padding-right: 2rem;
}

  .navegador{
    display: flex;
    align-items: center;
  }

  .menu__list{
    margin-right: 1rem;
    margin-left: 1rem;
    list-style: none;
    display: flex;
  }

  .menu__list__item {
    padding-right: 1rem;
  }

  .menu__list__item a{
    text-decoration: none;
    cursor: pointer;
  }

  .menu__list__item a:active{
    opacity: 0.5;
  }
}

@media screen and (min-width: 1300px){
  .menu{
  padding-left: 5rem;
  padding-right: 5rem;
  }

  .menu__list__item {
    padding-right: 1.5rem;
  }
}

@media (hover: hover){
  .menu__list__item a:hover{
    text-decoration: underline;
  }
}

