.experience{
  padding: 2rem 1.5rem 0 1.5rem;
  margin-bottom: -30px;
}

.experience__section__title{
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
}

.experience__box{
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.experience__img{
  width: 100%;
}

.experience__title{
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.experience__text{
  font-size: 1rem;
  font-weight: 500;
}

.experience__description button{
  margin: 0.8rem 0.8rem 1rem 0;
  padding: 0.8rem 1.3rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid #2A7AE4;

}

.experience__boton__repo{
  background-color: #f3f4f7;
  color: #2A7AE4;
}

.experience__boton__demo{
  background-color: #2A7AE4;
  color: white;
}