.about__container{
  background-color: #EAF2FD;
  padding: 1.5rem;
  padding-top: 3rem;
}

.about__title{
  font-weight: 700;
  font-size: 1.5rem;
}

.about__paragraph{
  font-weight: 300;
  font-size: 1.3rem;
  line-height: normal;
  text-align: left;
}

.about__container img{
  width: 11rem;
}

@media screen and (min-width: 768px) {
  .about__container{
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1064px) {
  .menu__header{
    font-size: 1.5rem;
  }
}