.about__container{
  background-color: #EAF2FD;
  padding: 1.5rem;
}

.about__title{
  font-weight: 700;
  font-size: 2rem;
}

.about__paragraph{
  font-weight: 300;
  font-size: 1.5rem;
  line-height: normal;
  text-align: justify;
}

.about__container img{
  width: 13rem;
}